@model IEnumerable<ProjetoAspNet.Domain.Notas>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo) do Caderno
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDaCriacao)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDaCriacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.NotasId, controller = "Notas" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.NotasId, controller = "Notas" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.NotasId, controller = "Notas" })

            </td>
        </tr>
    }

</table>
